@page "/receiving/{FormID:guid}"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.DropDowns
@using OrderTrak.Client.Shared.FormComponents
@using OrderTrak.Client.Shared.SearchComponents
@inherits OrderTrakBasePage

<PageTitle>Receiving - OrderTrak</PageTitle>

@if (Receiving != null)
{
    @if (DeleteRec)
    {
        <ModalPopup Title="Confirm Delete" OnClose="DeleteRec_Toggle" Messages=Layout.Messages>
            <Content>
                <p class="subtitle">Are you sure you want to delete this receipt?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="DeleteRec_Toggle" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteRecConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    @if (NewRec)
    {
        <ModalPopup Title="New Receipt" OnClose="AddRec_Toggle" Messages=Layout.Messages>
            <Content>
                <CardComponent Title="PO Lines" Icon="fa-receipt" RightTitle="@($"{ NewReturnTable?.TotalRecords } record(s)")" IsCardLoading=IsCardLoading>
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="box">
                                    <EditForm Model="@NewSearchFilters" OnValidSubmit="@AddSearch_Click">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <InputText class="input" @bind-Value="NewSearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                            </div>
                                            <div class="control">
                                                <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                    <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                    <span>Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                        @if (NewReturnTable?.Data.Count > 0)
                        {
                            <div class="table-container">
                                <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <a @onclick="() => NewSortSwitch_Click(1)">
                                                    <span>PO Number</span>
                                                    @if (NewSearchFilters.SortColumn == 1)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(NewSearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => NewSortSwitch_Click(2)">
                                                    <span>Project</span>
                                                    @if (NewSearchFilters.SortColumn == 2)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(NewSearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => NewSortSwitch_Click(3)">
                                                    <span>Part</span>
                                                    @if (NewSearchFilters.SortColumn == 3)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(NewSearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => NewSortSwitch_Click(4)">
                                                    <span>Quantity</span>
                                                    @if (NewSearchFilters.SortColumn == 4)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(NewSearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => NewSortSwitch_Click(5)">
                                                    <span>Rec Quantity</span>
                                                    @if (NewSearchFilters.SortColumn == 5)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(NewSearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => NewSortSwitch_Click(6)">
                                                    <span>Serialized</span>
                                                    @if (NewSearchFilters.SortColumn == 6)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(NewSearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in NewReturnTable.Data)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="buttons">
                                                        <FormButton Title="Select" Style="is-small" Icon="fa-mouse-pointer" OnClick="() => SelectPOLine_Click(line.FormID)" />
                                                    </div>
                                                </td>
                                                <td>@line.PoNumber</td>
                                                <td>@line.ProjectCode</td>
                                                <td>@line.PartNumber</td>
                                                <td>@line.Quantity</td>
                                                <td>@line.RecQuantity</td>
                                                <td>@line.IsSerialized</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (NewReturnTable.TotalRecords > NewSearchFilters.RecordSize)
                            {
                                <TablePager PageIndex="@NewSearchFilters.Page" PageSize="@NewSearchFilters.RecordSize" TotalRecordCount="@NewReturnTable.TotalRecords" OnPageChanged="NewPageSwitch_Click" />
                            }
                        }
                    </CardBody>
                </CardComponent>
            </Content>
        </ModalPopup>

        if (NewReceipt != null)
        {
            var poLine = NewReturnTable?.Data.FirstOrDefault(x => x.FormID == NewReceipt.PoLineID);

            if (poLine != null)
            {
                <ModalPopup Title="Receipt Lines" OnClose="() => SelectPOLine_Click(null)" Messages=Layout.Messages>
                    <Content>
                        <div class="columns is-centered">
                            <div class="column">
                                <FormField Icon="fa-cogs" Title="Part Number">
                                    <Content>
                                        <InputText class="input" @bind-Value="poLine.PartNumber" disabled />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column">
                                <FormField Icon="fa-cubes" Title="Quantity">
                                    <Content>
                                        <InputNumber class="input" @bind-Value="poLine.Quantity" disabled />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column">
                                <FormField Icon="fa-inbox" Title="Received Quantity">
                                    <Content>
                                        <InputNumber class="input" @bind-Value="poLine.RecQuantity" disabled />
                                    </Content>
                                </FormField>
                            </div>
                        </div>
                        <CardComponent Title="Receipt Lines" Icon="fa-receipt" RightTitle="@($"{ NewReceipt.BoxLineList.Count } record(s)")" IsCardLoading=IsCardLoading>
                            <CardBody>
                                <div class="columns is-centered">
                                    <div class="column is-half">
                                        <FormField Icon="fa-warehouse" Title="Stock Group">
                                            <Content>
                                                <StockGroupDropDown SelectedValue="NewReceipt.StockGroupID" SelectedValueChanged="StockGroup_Change" />
                                            </Content>
                                        </FormField>
                                    </div>
                                </div>
                                <hr />
                                @foreach (var tuple in NewReceipt.BoxLineList.Select((line, index) => new { line, index }))
                                {
                                    <div class="box">
                                        <div class="columns is-centered">
                                            <div class="column is-one-third">
                                                <FormField Icon="fa-box" Title="Box Number">
                                                    <Content>
                                                        <input type="text" class="input" value="@(tuple.index + 1)" disabled />
                                                    </Content>
                                                </FormField>
                                            </div>
                                            <div class="column is-one-third">
                                                <FormField Icon="fa-cubes" Title="Quantity">
                                                    <Content>
                                                        @if (poLine.IsSerialized)
                                                        {
                                                            <InputNumber class="input" @bind-Value="tuple.line.Quantity" disabled />
                                                        }
                                                        else
                                                        {
                                                            <InputNumber class="input is-danger" @bind-Value="tuple.line.Quantity" />
                                                        }
                                                    </Content>
                                                </FormField>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="columns is-centered is-flex is-flex-wrap-wrap">
                                            @if (poLine.IsSerialized)
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-barcode" Title="Serial">
                                                        <Content>
                                                            <InputText class="input is-danger" @bind-Value="tuple.line.SerialNumber" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                                <div class="column is-3">
                                                    <FormField Icon="fa-desktop" Title="Asset">
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.AssetTag" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }

                                            @if (!string.IsNullOrEmpty(poLine.UdF1))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF1>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF1" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF2))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF2>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF2" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF3))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF3>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF3" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF4))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF4>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF4" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF5))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF5>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF5" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF6))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF6>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF6" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF7))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF7>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF7" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF8))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF8>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF8" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF9))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF9>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF9" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(poLine.UdF10))
                                            {
                                                <div class="column is-3">
                                                    <FormField Icon="fa-hashtag" Title=@poLine.UdF10>
                                                        <Content>
                                                            <InputText class="input is-primary" @bind-Value="tuple.line.UdF10" />
                                                        </Content>
                                                    </FormField>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </CardBody>
                            <Footer>
                                @if (!poLine.IsSerialized)
                                {
                                    <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="AddBoxLine_Click" />
                                }
                            </Footer>
                        </CardComponent>
                    </Content>
                    <FooterButtons>
                        <FormButton Title="Save" Style="is-success" Icon="fa-save" OnClick="SaveRec_Click" />
                    </FooterButtons>
                </ModalPopup>
            }
        }
    }


    <div class="box">
        <div class="columns is-centered">
            <div class="column">
                <div class="buttons is-pulled-right">
                    @if (Receiving.CanReceive)
                    {
                        <FormButton Title="Delete" Style="is-danger" Icon="fa-trash" OnClick="DeleteRec_Toggle" />
                    }
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-one-third">
                <CardComponent Title="Information" Icon="fa-info-circle">
                    <CardBody>
                        <FormField Icon="fa-location-arrow" Title="Tracking Number">
                            <Content>
                                <InputText class="input is-danger" @bind-Value="Receiving.TrackingNumber" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-truck" Title="Carrier">
                            <Content>
                                <InputText class="input is-danger" @bind-Value="Receiving.Carrier" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-calendar-alt" Title="Date Received">
                            <Content>
                                <InputDate class="input is-danger" @bind-Value="Receiving.DataReceived" disabled />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
            </div>
            <div class="column">
                <CardComponent Title="Receiving Line(s)" Icon="fa-file-invoice">
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="buttons is-pulled-right">
                                    @if (Receiving.CanReceive)
                                    {
                                        <FormButton Title="Add" Style="is-success" Icon="fa-plus" OnClick="AddRec_Toggle" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="box">
                                    <EditForm Model="@RecSearchFilter" OnValidSubmit="@RecSearch_Click">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <InputText class="input" @bind-Value="RecSearchFilter.SearchText" Placeholder="Search Filter (Comma Seperate Terms)" />
                                            </div>
                                            <div class="control">
                                                <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                    <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                    <span>Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                        @if (FilteredRecList?.Count > 0)
                        {
                            <div class="table-container">
                                <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(1)">
                                                    <span>Part</span>
                                                    @if (SortColumn == 1)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(2)">
                                                    <span>Description</span>
                                                    @if (SortColumn == 2)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(3)">
                                                    <span>Purchase Order</span>
                                                    @if (SortColumn == 3)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(4)">
                                                    <span>Quantity</span>
                                                    @if (SortColumn == 4)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in FilteredRecList)
                                        {
                                            <tr>
                                                <td>@line.PartNumber</td>
                                                <td>@line.PartDescription</td>
                                                <td>@line.PurchaseOrder</td>
                                                <td>@line.Quantity</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </CardBody>
                    <Footer>
                        @if (Receiving.CanReceive)
                        {
                            <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="AddRec_Toggle" />
                        }
                    </Footer>
                </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="/receiving/search" />
            @if (Receiving.CanReceive)
            {
                <FormButton Title="Save" Style="is-success" Icon="fa-save" OnClick="SaveUpperInfo_Click" />
            }
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}