@page "/receiving/putaway"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@using OrderTrak.Client.Shared.DropDowns
@inherits OrderTrakBasePage

<PageTitle>Receiving Putaway - OrderTrak</PageTitle>

@if (PutawayInventory != null)
{
    var searchedLine = ReturnTable?.Data.FirstOrDefault(x => x.FormID == PutawayInventory.FormID);

    if (searchedLine != null)
    {
        <ModalPopup Title="Putaway Inventory" OnClose="() => Putaway_Toggle(null)" Messages=Layout.Messages>
            <Content>
                <div class="columns is-centered">
                    <div class="column is-2">
                        <FormField Icon="fa-cogs" Title="Part Number">
                            <Content>
                                <InputText class="input" Placeholder="Part Number" @bind-Value="searchedLine.PartNumber" disabled />
                            </Content>
                        </FormField>
                    </div>
                    <div class="column">
                        <FormField Icon="fa-align-left" Title="Description">
                            <Content>
                                <InputText class="input" Placeholder="Part Description" @bind-Value="searchedLine.PartDescription" disabled />
                            </Content>
                        </FormField>
                    </div>
                    <div class="column is-2">
                        <FormField Icon="fa-cubes" Title="Quantity">
                            <Content>
                                <InputNumber class="input" @bind-Value="searchedLine.Quantity" disabled />
                            </Content>
                        </FormField>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <EditForm Model="@PutawayInventory" OnValidSubmit="Putaway_Submit">
                            <CardComponent Title=@($"{searchedLine.BoxID}") Icon="fa-box-open">
                                <CardBody>
                                    <DataAnnotationsValidator />
                                    <FormField Icon="fa-warehouse" Title="Location Name">
                                        <Content>
                                            <InputText class="input is-danger" Placeholder="Location Name" @bind-Value="PutawayInventory.LocationNumber" />
                                            <ValidationMessage For="@(() => PutawayInventory.LocationNumber)" />
                                        </Content>
                                    </FormField>
                                </CardBody>
                                <Footer>
                                    <button type="submit" class="button card-footer-item @(IsLoading ? "is-loading" : string.Empty)">
                                        <span class="icon">
                                            <i class="fas fa-floppy-disk" />
                                        </span>
                                        <span>Save</span>
                                    </button>
                                </Footer>
                            </CardComponent>
                        </EditForm>
                    </div>
                </div>
            </Content>
        </ModalPopup>
    }
}


<div class="box">
    <div class="columns is-centered">
        <div class="column">
            <CardComponent Title="Putaway Inventory" Icon="fa-box-open" RightTitle="@($"{ ReturnTable?.TotalRecords } record(s)")" IsCardLoading=IsCardLoading>
                <CardBody>
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <div class="box">
                                <EditForm Model="@SearchFilters" OnValidSubmit="@Search_Click">
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <InputText class="input" @bind-Value="SearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                        </div>
                                        <div class="control">
                                            <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                <span>Search</span>
                                            </button>
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                    @if (ReturnTable?.Data.Count > 0)
                    {
                        <div class="table-container">
                            <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(1)">
                                                <span>Box ID</span>
                                                @if (SearchFilters.SortColumn == 1)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(2)">
                                                <span>Part</span>
                                                @if (SearchFilters.SortColumn == 2)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(3)">
                                                <span>Description</span>
                                                @if (SearchFilters.SortColumn == 3)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(4)">
                                                <span>PO</span>
                                                @if (SearchFilters.SortColumn == 4)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(5)">
                                                <span>Stock Group</span>
                                                @if (SearchFilters.SortColumn == 5)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(6)">
                                                <span>Location</span>
                                                @if (SearchFilters.SortColumn == 6)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(7)">
                                                <span>Quantity</span>
                                                @if (SearchFilters.SortColumn == 7)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(8)">
                                                <span>Size Per Box</span>
                                                @if (SearchFilters.SortColumn == 8)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a @onclick="() => SortSwitch_Click(9)">
                                                <span>UOM</span>
                                                @if (SearchFilters.SortColumn == 9)
                                                {
                                                    <span class="icon">
                                                        <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                    </span>
                                                }
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in ReturnTable.Data)
                                    {
                                        <tr>
                                            <td>
                                                <div class="buttons">
                                                    <FormButton Title="Putaway" Style="is-small" Icon="fa-box-open" OnClick="() => Putaway_Toggle(line.FormID)" />
                                                </div>
                                            </td>
                                            <td>@line.BoxID</td>
                                            <td>@line.PartNumber</td>
                                            <td>@line.PartDescription</td>
                                            <td>@line.Po</td>
                                            <td>@line.StockGroup</td>
                                            <td>@line.Location</td>
                                            <td>@line.Quantity</td>
                                            <td>@line.UnitSize</td>
                                            <td>@line.UnitSizeUOM</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (ReturnTable.TotalRecords > SearchFilters.RecordSize)
                        {
                            <TablePager PageIndex="@SearchFilters.Page" PageSize="@SearchFilters.RecordSize" TotalRecordCount="@ReturnTable.TotalRecords" OnPageChanged="PageSwitch_Click" />
                        }
                    }
                </CardBody>
            </CardComponent>
        </div>
    </div>
</div>