@if (string.IsNullOrEmpty(URL))
{
    <button title="@Title" class="button is-hoverable @Style @(IsLoading ? "is-loading" : "")" @onclick="OnClick_Handler">
        @if(!string.IsNullOrEmpty(Icon))
        {
            <span class="icon">
                <i class="fas @Icon" />
            </span>
        }
        <span>@Title</span>
    </button>
}
else
{
    <a href="@URL" class="button is-hoverable @Style">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <span class="icon">
                <i class="fas @Icon" />
            </span>
        }
        <span>@Title</span>
    </a>
}




