@page "/shipping/section3/{FormID:guid}"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.DropDowns
@using OrderTrak.Client.Shared.FormComponents
@using OrderTrak.Client.Shared.Order
@using OrderTrak.Client.Shared.SearchComponents
@using OrderTrak.Client.Shared.Shipping
@inherits OrderTrakBasePage

<PageTitle>Shipping - OrderTrak</PageTitle>

@if (Order != null && OrderShipping != null)
{
    @if (CreateTracking != null)
    {
        <ModalPopup Title="Create Tracking" OnClose="CreateTracking_Toggle" Messages=Layout.Messages>
            <Content>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <EditForm Model="@CreateTracking" OnValidSubmit="CreateTracking_Submit">
                            <CardComponent Title="Tracking Information" Icon="fa-route">
                                <CardBody>
                                    <DataAnnotationsValidator />
                                    <FormField Icon="fa-truck" Title="Tracking">
                                        <Content>
                                            <InputText class="input is-danger" Placeholder="Tracking" @bind-Value="CreateTracking.TrackingNumber" />
                                            <ValidationMessage For="@(() => CreateTracking.TrackingNumber)" />
                                        </Content>
                                    </FormField>
                                    <div class="columns is-centered">
                                        <div class="column">
                                            <FormField Icon="fa-cubes" Title="Box(s)">
                                                <Content>
                                                    <InputNumber class="input is-primary" Placeholder="Box(s)" @bind-Value="CreateTracking.BoxCount" />
                                                    <ValidationMessage For="@(() => CreateTracking.BoxCount)" />
                                                </Content>
                                            </FormField>
                                        </div>
                                        <div class="column">
                                            <FormField Icon="fa-weight" Title="Weight">
                                                <Content>
                                                    <InputNumber class="input is-primary" Placeholder="Weight" @bind-Value="CreateTracking.Weight" />
                                                    <ValidationMessage For="@(() => CreateTracking.Weight)" />
                                                </Content>
                                            </FormField>
                                        </div>
                                        <div class="column">
                                            <FormField Icon="fa-pallet" Title="Pallet(s)">
                                                <Content>
                                                    <InputNumber class="input is-primary" Placeholder="Pallet" @bind-Value="CreateTracking.PalletCount" />
                                                    <ValidationMessage For="@(() => CreateTracking.PalletCount)" />
                                                </Content>
                                            </FormField>
                                        </div>
                                    </div>
                                </CardBody>
                                <Footer>
                                    <button type="submit" class="button card-footer-item @(IsLoading ? "is-loading" : string.Empty)">
                                        <span class="icon">
                                            <i class="fas fa-floppy-disk" />
                                        </span>
                                        <span>Save</span>
                                    </button>
                                </Footer>
                            </CardComponent>
                        </EditForm>
                    </div>
                </div>
            </Content>
        </ModalPopup>
    }

    @if (DeleteID.HasValue)
    {
        <ModalPopup Title="Confirm Delete" OnClose="() => Delete_Toggle(null)" Messages=Layout.Messages>
            <Content>
                <p class="subtitle">Are you sure you want to delete this tracking info?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="() => Delete_Toggle(null)" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    @if(ShipConfirm)
    {
        <ModalPopup Title="Confirm Shipment" OnClose="ShipConfirm_Toggle" Messages=Layout.Messages>
            <Content>
                <p class="subtitle">Are you sure you want to ship this order?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="ShipConfirm_Toggle" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="ShipConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    <div class="box">
        <ShippingTabSwitcher Section=3 FormID=@FormID />
        <div class="columns is-centered">
            <div class="column is-one-third">
                <CardComponent Title="Carrier" Icon="fa-truck">
                    <CardBody>
                        <FormField Icon="fa-truck" Title="Carrier">
                            <Content>
                                <InputText class="input" Placeholder="Carrier" @bind-Value="OrderShipping.Carrier" disabled />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
                <CardComponent Title="Ship Contact" Icon="fa-user">
                    <CardBody>
                        <FormField Icon="fa-user" Title="Contact">
                            <Content>
                                <InputText class="input" Placeholder="Contact" @bind-Value="OrderShipping.ShipContact" disabled />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-phone" Title="Contact Phone">
                            <Content>
                                <InputText class="input" Placeholder="Contact Phone" @bind-Value="OrderShipping.ShipPhone" disabled />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-envelope" Title="Contact Email">
                            <Content>
                                <InputText class="input" Placeholder="Contact Phone" @bind-Value="OrderShipping.ShipEmail" disabled />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
            </div>
            <div class="column">
                <CardComponent Title="Address" Icon="fa-map-marker-alt">
                    <CardBody>
                        <div class="columns is-centered is-flex-wrap-wrap">
                            <div class="column is-half">
                                <FormField Icon="fa-map-marker-alt" Title="Address">
                                    <Content>
                                        <InputText class="input" Placeholder="Address" @bind-Value="OrderShipping.Address1" disabled />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column is-half">
                                <FormField Icon="fa-map-marker-alt" Title="Address 2">
                                    <Content>
                                        <InputText class="input" Placeholder="Address" @bind-Value="OrderShipping.Address2" disabled />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column is-half">
                                <FormField Icon="fa-city" Title="City">
                                    <Content>
                                        <InputText class="input" Placeholder="City" @bind-Value="OrderShipping.City" disabled />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column is-half">
                                <FormField Icon="fa-flag" Title="State">
                                    <Content>
                                        <InputText class="input" Placeholder="State" @bind-Value="OrderShipping.State" disabled />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column is-half">
                                <FormField Icon="fa-envelope" Title="Zip">
                                    <Content>
                                        <InputText class="input" Placeholder="Zip" @bind-Value="OrderShipping.Zip" disabled />
                                    </Content>
                                </FormField>
                            </div>
                        </div>
                    </CardBody>
                </CardComponent>
                <CardComponent Title="Tracking" Icon="fa-route">
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="buttons is-pulled-right">
                                    @if (!Order.IsClosed)
                                    {
                                        <FormButton Title="Add" Style="is-success" Icon="fa-plus" OnClick="CreateTracking_Toggle" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="box">
                                    <EditForm Model="@SearchFilters" OnValidSubmit="@Search_Click">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <InputText class="input" @bind-Value="SearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                            </div>
                                            <div class="control">
                                                <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                    <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                    <span>Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                        @if (ReturnTable?.Data.Count > 0)
                        {
                            <div class="table-container">
                                <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(1)">
                                                    <span>Tracking</span>
                                                    @if (SearchFilters.SortColumn == 1)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(2)">
                                                    <span>Box(s)</span>
                                                    @if (SearchFilters.SortColumn == 2)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(3)">
                                                    <span>Weight</span>
                                                    @if (SearchFilters.SortColumn == 3)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(4)">
                                                    <span>Pallet(s)</span>
                                                    @if (SearchFilters.SortColumn == 4)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in ReturnTable.Data)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="buttons">
                                                        @if(!Order.IsClosed)
                                                        {
                                                            <FormButton Title="Delete" Style="is-small" Icon="fa-trash" OnClick="() => Delete_Toggle(line.FormID)" />
                                                        }
                                                    </div>
                                                </td>
                                                <td>@line.Tracking</td>
                                                <td>@line.BoxCount</td>
                                                <td>@line.Weight</td>
                                                <td>@line.PalletCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (ReturnTable.TotalRecords > SearchFilters.RecordSize)
                            {
                                <TablePager PageIndex="@SearchFilters.Page" PageSize="@SearchFilters.RecordSize" TotalRecordCount="@ReturnTable.TotalRecords" OnPageChanged="PageSwitch_Click" />
                            }
                        }
                    </CardBody>
                    <Footer>
                        @if (!Order.IsClosed)
                        {
                            <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="CreateTracking_Toggle" />
                        }
                    </Footer>
                </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="/shipping/search" />
            @if (!Order.IsClosed)
            {
                <FormButton Title="Ship" Style="is-success" Icon="fa-truck-fast" OnClick="ShipConfirm_Toggle" />
            }
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}