@page "/part/search"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@using OrderTrak.Client.Shared.DropDowns
@inherits OrderTrakBasePage

<PageTitle>Part - OrderTrak</PageTitle>

@if (CreatePart != null)
{
    <ModalPopup Title="Create Part" OnClose="CreatePart_Toggle">
        <Content>
            <div class="columns is-centered">
                <div class="column is-half">
                    <EditForm Model="@CreatePart" OnValidSubmit="CreatePart_Submit">
                        <CardComponent Title="Part Information" Icon="fa-cogs">
                            <CardBody>
                                <DataAnnotationsValidator />
                                <FormField Icon="fa-cogs" Title="Part Number">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Part Number" @bind-Value="CreatePart.PartNumber" />
                                        <ValidationMessage For="@(() => CreatePart.PartNumber)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-align-left" Title="Description">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Part Description" @bind-Value="CreatePart.PartDescription" />
                                        <ValidationMessage For="@(() => CreatePart.PartDescription)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-tags" Title="Type">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Part Type" @bind-Value="CreatePart.PartType" />
                                        <ValidationMessage For="@(() => CreatePart.PartType)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-industry" Title="Vendor">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Vendor" @bind-Value="CreatePart.PartVendor" />
                                        <ValidationMessage For="@(() => CreatePart.PartVendor)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-dollar-sign" Title="Cost">
                                    <Content>
                                        <InputNumber class="input is-primary" Type="text" Placeholder="Cost" @bind-Value="CreatePart.PartCost" />
                                        <ValidationMessage For="@(() => CreatePart.PartCost)" />
                                    </Content>
                                </FormField>
                                <div class="columns is-centered">
                                    <div class="column">
                                        <FormField Icon="fa-ruler-vertical" Title="Height">
                                            <Content>
                                                <InputNumber class="input is-primary" Type="text" Placeholder="Height" @bind-Value="CreatePart.Height" />
                                                <ValidationMessage For="@(() => CreatePart.Height)" />
                                            </Content>
                                        </FormField>
                                    </div>
                                    <div class="column">
                                        <FormField Icon="fa-ruler-horizontal" Title="Width">
                                            <Content>
                                                <InputNumber class="input is-primary" Type="text" Placeholder="Width" @bind-Value="CreatePart.Width" />
                                                <ValidationMessage For="@(() => CreatePart.Width)" />
                                            </Content>
                                        </FormField>
                                    </div>
                                    <div class="column">
                                        <FormField Icon="fa-ruler-combined" Title="Depth">
                                            <Content>
                                                <InputNumber class="input is-primary" Type="text" Placeholder="Depth" @bind-Value="CreatePart.Depth" />
                                                <ValidationMessage For="@(() => CreatePart.Depth)" />
                                            </Content>
                                        </FormField>
                                    </div>
                                </div>
                                <FormField Icon="fa-balance-scale" Title="Unit of Measurement">
                                    <Content>
                                        <UOMDropDown SelectedValue="CreatePart.Uomid" SelectedValueChanged="UOMDropDown_Change" />
                                    </Content>
                                </FormField>
                                <hr />
                                <div class="field">
                                    <InputCheckbox class="is-checkradio" @bind-Value="CreatePart.IsStock" id="EmptyOnly" />
                                    <label for="EmptyOnly">Is Stock?</label>
                                </div>
                            </CardBody>
                            <Footer>
                                <button type="submit" class="button card-footer-item @(IsLoading ? "is-loading" : string.Empty)">
                                    <span class="icon">
                                        <i class="fas fa-floppy-disk" />
                                    </span>
                                    <span>Save</span>
                                </button>
                            </Footer>
                        </CardComponent>
                    </EditForm>
                </div>
            </div>
        </Content>
    </ModalPopup>
}


@if (DeleteID.HasValue)
{
    <ModalPopup Title="Confirm Delete" OnClose="() => Delete_Toggle(null)">
        <Content>
            <p class="subtitle">Are you sure you want to delete this part?</p>
        </Content>
        <FooterButtons>
            <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="() => Delete_Toggle(null)" />
            <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
        </FooterButtons>
    </ModalPopup>
}


<div class="box">
    <div class="columns is-centered">
        <div class="column">
            <div class="buttons is-pulled-right">
                <FormButton Title="Add" Style="is-success" Icon="fa-plus" OnClick="CreatePart_Toggle" />
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column">
            <CardComponent Title="Part(s)" Icon="fa-cogs" RightTitle="@($"{ ReturnTable?.TotalRecords } record(s)")" IsCardLoading=IsCardLoading>
                <CardBody>
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <div class="box">
                                <EditForm Model="@SearchFilters" OnValidSubmit="@Search_Click">
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <InputText class="input" @bind-Value="SearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                        </div>
                                        <div class="control">
                                            <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                <span>Search</span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="field">
                                        <InputCheckbox class="is-checkradio" @bind-Value="SearchFilters.IsStockOnly" id="StockOnly" @onclick="StockOnly_Change" />
                                        <label for="StockOnly">Show Stock Only</label>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                    @if (ReturnTable?.Data.Count > 0)
                    {
                        <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <a @onclick="() => SortSwitch_Click(1)">
                                            <span>Part</span>
                                            @if (SearchFilters.SortColumn == 1)
                                            {
                                                <span class="icon">
                                                    <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                </span>
                                            }
                                        </a>
                                    </th>
                                    <th>
                                        <a @onclick="() => SortSwitch_Click(2)">
                                            <span>Description</span>
                                            @if (SearchFilters.SortColumn == 2)
                                            {
                                                <span class="icon">
                                                    <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                </span>
                                            }
                                        </a>
                                    </th>
                                    <th>
                                        <a @onclick="() => SortSwitch_Click(3)">
                                            <span>Type</span>
                                            @if (SearchFilters.SortColumn == 3)
                                            {
                                                <span class="icon">
                                                    <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                </span>
                                            }
                                        </a>
                                    </th>
                                    <th>
                                        <a @onclick="() => SortSwitch_Click(4)">
                                            <span>Stock / Tangible</span>
                                            @if (SearchFilters.SortColumn == 4)
                                            {
                                                <span class="icon">
                                                    <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                </span>
                                            }
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in ReturnTable.Data)
                                {
                                    <tr>
                                        <td>
                                            <div class="buttons">
                                                <FormButton Title="Edit" Style="is-small" Icon="fa-edit" URL="@($"/part/{line.FormID}")" />
                                                <FormButton Title="Delete" Style="is-small" Icon="fa-trash" OnClick="() => Delete_Toggle(line.FormID)" />
                                            </div>
                                        </td>
                                        <td>@line.PartNumber</td>
                                        <td>@line.PartDescription</td>
                                        <td>@line.PartType</td>
                                        <td>@(line.IsStock ? "Stock" : "Tangible ")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (ReturnTable.TotalRecords > SearchFilters.RecordSize)
                        {
                            <TablePager PageIndex="@SearchFilters.Page" PageSize="@SearchFilters.RecordSize" TotalRecordCount="@ReturnTable.TotalRecords" OnPageChanged="PageSwitch_Click" />
                        }
                    }
                </CardBody>
                <Footer>
                    <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="CreatePart_Toggle" />
                </Footer>
            </CardComponent>
        </div>
    </div>
</div>

