@page "/customer/{FormID:guid}"
@using OrderTrak.Client.Services
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>Customer - OrderTrak</PageTitle>

@if (Customer != null)
{
    @if (DeleteCustomer)
    {
        <ModalPopup Title="Confirm Delete" OnClose="Delete_Toggle">
            <Content>
                <p class="subtitle">Are you sure you want to delete this customer?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="Delete_Toggle" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    @if (DeleteProjectID.HasValue)
    {
        <ModalPopup Title="Confirm Delete" OnClose="() => DeleteProject_Click(null)">
            <Content>
                <p class="subtitle">Are you sure you want to delete this project?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="() => DeleteProject_Click(null)" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteProjectConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    @if (CreateProject != null)
    {
        <ModalPopup Title="Add Project" OnClose="AddProject_Toggle">
            <Content>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <EditForm Model="@CreateProject" OnValidSubmit="AddProject_Submit">
                            <CardComponent Title="Project Information" Icon="fa-project-diagram">
                                <CardBody>
                                    <DataAnnotationsValidator />
                                    <FormField Icon="fa-project-diagram" Title="Project Code">
                                        <Content>
                                            <InputText class="input is-danger" Type="text" Placeholder="Project Code" @bind-Value="CreateProject.ProjectCode" />
                                            <ValidationMessage For="@(() => CreateProject.ProjectCode)" />
                                        </Content>
                                    </FormField>
                                    <FormField Icon="fa-project-diagram" Title="Project Name">
                                        <Content>
                                            <InputText class="input is-danger" Type="text" Placeholder="Project Name" @bind-Value="CreateProject.ProjectName" />
                                            <ValidationMessage For="@(() => CreateProject.ProjectName)" />
                                        </Content>
                                    </FormField>
                                    <FormField Icon="fa-user" Title="Contact Name">
                                        <Content>
                                            <InputText class="input is-danger" Type="text" Placeholder="Contact Name" @bind-Value="CreateProject.ContactName" />
                                            <ValidationMessage For="@(() => CreateProject.ContactName)" />
                                        </Content>
                                    </FormField>
                                    <FormField Icon="fa-phone" Title="Contact Phone">
                                        <Content>
                                            <InputText class="input is-danger" Type="text" Placeholder="Contact Phone" @bind-Value="CreateProject.ContactPhone" />
                                            <ValidationMessage For="@(() => CreateProject.ContactPhone)" />
                                        </Content>
                                    </FormField>
                                </CardBody>
                                <Footer>
                                    <button type="submit" class="button card-footer-item @(IsLoading ? "is-loading" : string.Empty)">
                                        <span class="icon">
                                            <i class="fas fa-floppy-disk" />
                                        </span>
                                        <span>Save</span>
                                    </button>
                                </Footer>
                            </CardComponent>
                        </EditForm>
                    </div>
                </div>
            </Content>
        </ModalPopup>

    }

    <div class="box">
        <div class="columns is-centered">
            <div class="column">
                <div class="buttons is-pulled-right">
                    <FormButton Title="Delete" Style="is-danger" Icon="fa-trash" OnClick="Delete_Toggle" />
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-3">
                <CardComponent Title="Information" Icon="fa-info-circle">
                    <CardBody>
                        <FormField Icon="fa-id-card" Title="Customer Code">
                            <Content>
                                <InputText class="input is-danger" Type="text" Placeholder="Customer Code" @bind-Value="Customer.CustomerCode" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-id-card" Title="Customer Name">
                            <Content>
                                <InputText class="input is-danger" Type="text" Placeholder="Customer Name" @bind-Value="Customer.CustomerName" />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
            </div>
            <div class="column is-9">
                <CardComponent Title="Address" Icon="fa-map-marker-alt">
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column">
                                <FormField Icon="fa-id-card" Title="Address">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Address" @bind-Value="Customer.Address" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-city" Title="City">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="City" @bind-Value="Customer.City" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-phone" Title="Phone">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Phone" @bind-Value="Customer.Phone" />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column">
                                <FormField Icon="fa-id-card" Title="Address 2">
                                    <Content>
                                        <InputText class="input is-primary" Type="text" Placeholder="Address" @bind-Value="Customer.Address2" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-flag" Title="State">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="State" @bind-Value="Customer.State" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-envelope" Title="Zip">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Zip" @bind-Value="Customer.Zip" />
                                    </Content>
                                </FormField>
                            </div>
                        </div>
                    </CardBody>
                </CardComponent>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-10">
                <CardComponent Title="Project(s)" Icon="fa-project-diagram" RightTitle="@($"{ FilteredProjectList.Count } record(s)")" IsCardLoading=IsCardLoading>
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="box">
                                    <EditForm Model="@ProjectSearchFilter" OnValidSubmit="@ProjectSearch_Click">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <InputText class="input" @bind-Value="ProjectSearchFilter.SearchText" Placeholder="Search Filter (Comma Seperate Terms)" />
                                            </div>
                                            <div class="control">
                                                <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                    <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                    <span>Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                        @if (FilteredProjectList.Count > 0)
                        {
                            <table class="table is-fullwidth is-striped is-hoverable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><a @onclick="() => SortSwitch_Click(1)">Code</a></th>
                                        <th><a @onclick="() => SortSwitch_Click(2)">Name</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in FilteredProjectList)
                                    {
                                        <tr>
                                            <td>
                                                <div class="buttons">
                                                    <FormButton Title="Edit" Style="is-small" Icon="fa-edit" URL="@($"/project/{line.FormID}")" />
                                                    <FormButton Title="Delete" Style="is-small" Icon="fa-trash" OnClick="() => DeleteProject_Click(line.FormID)" />
                                                </div>
                                            </td>
                                            <td>@line.ProjectCode</td>
                                            <td>@line.ProjectName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </CardBody>
                    <Footer>
                        <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="AddProject_Toggle" />
                    </Footer>
                </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="/customer/search" />
            <FormButton Title="Save" Style="is-success" Icon="fa-save" OnClick="Save_Click" />
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}
