@page "/customer/search"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>Customer - OrderTrak</PageTitle>

@if (CreateCustomer != null)
{
    <ModalPopup Title="Create Customer" OnClose="CreateCustomer_Toggle">
        <Content>
            <div class="columns is-centered">
                <div class="column is-half">
                    <EditForm Model="@CreateCustomer" OnValidSubmit="CreateCustomer_Submit">
                        <CardComponent Title="Customer Information" Icon="fa-user">
                            <CardBody>
                                <DataAnnotationsValidator />
                                <FormField Icon="fa-project-diagram" Title="Customer Code">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Customer Code" @bind-Value="CreateCustomer.CustomerCode" />
                                        <ValidationMessage For="@(() => CreateCustomer.CustomerCode)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-project-diagram" Title="Customer Name">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Customer Name" @bind-Value="CreateCustomer.CustomerName" />
                                        <ValidationMessage For="@(() => CreateCustomer.CustomerName)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-phone" Title="Phone">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Phone" @bind-Value="CreateCustomer.Phone" />
                                        <ValidationMessage For="@(() => CreateCustomer.Phone)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-map-marker-alt" Title="Address">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Address" @bind-Value="CreateCustomer.Address" />
                                        <ValidationMessage For="@(() => CreateCustomer.Address)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-map-marker-alt" Title="Address 2">
                                    <Content>
                                        <InputText class="input is-primary" Type="text" Placeholder="Address 2" @bind-Value="CreateCustomer.Address2" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-city" Title="City">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="City" @bind-Value="CreateCustomer.City" />
                                        <ValidationMessage For="@(() => CreateCustomer.City)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-flag" Title="State">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="State" @bind-Value="CreateCustomer.State" />
                                        <ValidationMessage For="@(() => CreateCustomer.State)" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-envelope" Title="Zip">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Zip" @bind-Value="CreateCustomer.Zip" />
                                        <ValidationMessage For="@(() => CreateCustomer.Zip)" />
                                    </Content>
                                </FormField>
                            </CardBody>
                            <Footer>
                                <button type="submit" class="button card-footer-item @(IsLoading ? "is-loading" : string.Empty)">
                                    <span class="icon">
                                        <i class="fas fa-floppy-disk" />
                                    </span>
                                    <span>Save</span>
                                </button>
                            </Footer>
                        </CardComponent>
                    </EditForm>
                </div>
            </div>
        </Content>
    </ModalPopup>
}


@if (DeleteID.HasValue)
{
    <ModalPopup Title="Confirm Delete" OnClose="() => Delete_Toggle(null)">
        <Content>
            <p class="subtitle">Are you sure you want to delete this customer?</p>
        </Content>
        <FooterButtons>
            <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="() => Delete_Toggle(null)" />
            <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
        </FooterButtons>
    </ModalPopup>
}


<div class="columns is-centered">
    <div class="column">
        <div class="buttons is-pulled-right">
            <FormButton Title="Add" Style="is-success" Icon="fa-plus" OnClick="CreateCustomer_Toggle" />
        </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column">
        <CardComponent Title="Customer(s)" Icon="fa-users" RightTitle="@($"{ ReturnTable?.TotalRecords } record(s)")" IsCardLoading=IsCardLoading>
            <CardBody>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box">
                            <EditForm Model="@SearchFilters" OnValidSubmit="@Search_Click">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <InputText class="input" @bind-Value="SearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                    </div>
                                    <div class="control">
                                        <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                            <span class="fa fa-search" style="margin-right: 5px;"></span>
                                            <span>Search</span>
                                        </button>
                                    </div>
                                </div>
                                <hr />
                                <div class="field">
                                    <InputCheckbox class="is-checkradio" @bind-Value="SearchFilters.EmptyOnly" id="EmptyOnly" @onclick="EmptyCustomer_Change" />
                                    <label for="EmptyOnly">Empty Customers Only</label>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
                @if (ReturnTable?.Data.Count > 0)
                {
                    <table class="table is-fullwidth is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(1)">
                                        <span>Code</span>
                                        @if (SearchFilters.SortColumn == 1)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 2 ? "fa-chevron-up" : "fa-chevron-down")"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(2)">
                                        <span>Name</span>
                                        @if (SearchFilters.SortColumn == 2)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 2 ? "fa-chevron-up" : "fa-chevron-down")"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(3)">
                                        <span>Phone</span>
                                        @if (SearchFilters.SortColumn == 3)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 2 ? "fa-chevron-up" : "fa-chevron-down")"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(4)">
                                        <span>Project(s)</span>
                                        @if (SearchFilters.SortColumn == 4)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 4 ? "fa-chevron-up" : "fa-chevron-down")"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in ReturnTable.Data)
                            {
                                <tr>
                                    <td>
                                        <div class="buttons">
                                            <FormButton Title="Edit" Style="is-small" Icon="fa-edit" URL="@($"/customer/{line.FormID}")" />
                                            <FormButton Title="Delete" Style="is-small" Icon="fa-trash" OnClick="() => Delete_Toggle(line.FormID)" />
                                        </div>
                                    </td>
                                    <td>@line.CustomerCode</td>
                                    <td>@line.CustomerName</td>
                                    <td>@line.Phone</td>
                                    <td>@line.ProjectCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (ReturnTable.TotalRecords > SearchFilters.RecordSize)
                    {
                        <TablePager PageIndex="@SearchFilters.Page" PageSize="@SearchFilters.RecordSize" TotalRecordCount="@ReturnTable.TotalRecords" OnPageChanged="PageSwitch_Click" />
                    }
                }
            </CardBody>
            <Footer>
                <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="CreateCustomer_Toggle" />
            </Footer>
        </CardComponent>
    </div>
</div>

