@page "/customer/{FormID:guid}"
@using OrderTrak.Client.Services
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>Customer - OrderTrak</PageTitle>

@if (Customer != null)
{
    <div class="box">
        <div class="columns is-centered">
            <div class="column">
                
                <div class="buttons is-pulled-right">
                    <FormButton Title="Delete" Style="is-danger" Icon="fa-trash" />
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-3">
                <CardComponent Title="Information" Icon="fa-info-circle">
                    <CardBody>
                        <FormField Icon="fa-id-card" Title="Customer Code">
                            <Content>
                                <InputText class="input is-danger" Type="text" Placeholder="Customer Code" @bind-Value="Customer.CustomerCode" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-id-card" Title="Customer Name">
                            <Content>
                                <InputText class="input is-danger" Type="text" Placeholder="Customer Name" @bind-Value="Customer.CustomerName" />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
            </div>
            <div class="column is-9">
                <CardComponent Title="Address" Icon="fa-map-marker-alt">
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column">
                                <FormField Icon="fa-id-card" Title="Address">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Address" @bind-Value="Customer.Address" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-city" Title="City">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="City" @bind-Value="Customer.City" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-phone" Title="Phone">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Phone" @bind-Value="Customer.Phone" />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column">
                                <FormField Icon="fa-id-card" Title="Address 2">
                                    <Content>
                                        <InputText class="input is-primary" Type="text" Placeholder="Address" @bind-Value="Customer.Address2" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-flag" Title="State">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="State" @bind-Value="Customer.State" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-envelope" Title="Zip">
                                    <Content>
                                        <InputText class="input is-danger" Type="text" Placeholder="Zip" @bind-Value="Customer.Zip" />
                                    </Content>
                                </FormField>
                            </div>
                        </div>
                    </CardBody>
                </CardComponent>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-10">
                <CardComponent Title="Project(s)" Icon="fa-project-diagram">
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="box">
                                    <EditForm Model="@ProjectSearchFilter" OnValidSubmit="@ProjectSearch_Click">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <InputText class="input" @bind-Value="ProjectSearchFilter.SearchText" Placeholder="Search Filter (Comma Seperate Terms)" />
                                            </div>
                                            <div class="control">
                                                <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                    <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                    <span>Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                        @if (FilteredProjectList.Count > 0)
                        {
                            <table class="table is-fullwidth is-striped is-hoverable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><a @onclick="() => SortSwitch_Click(1)">Code</a></th>
                                        <th><a @onclick="() => SortSwitch_Click(2)">Name</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in FilteredProjectList)
                                    {
                                        <tr>
                                            <td>
                                                <div class="buttons">
                                                    <FormButton Title="Edit" Style="is-small" Icon="fa-edit" URL="@($"/project/{line.FormID}")" />
                                                </div>
                                            </td>
                                            <td>@line.ProjectCode</td>
                                            <td>@line.ProjectName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </CardBody>
                </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="/customer/search" />
            <FormButton Title="Save" Style="is-success" Icon="fa-save" OnClick="Save_Click" />
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}
