@page "/useradmin/search"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>User Admin - OrderTrak</PageTitle>

@if (DeleteID.HasValue)
{
    <ModalPopup Title="Confirm Delete" OnClose="() => Delete_Toggle(null)" Messages=Layout.Messages>
        <Content>
            <p class="subtitle">Are you sure you want to delete this user?</p>
        </Content>
        <FooterButtons>
            <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="() => Delete_Toggle(null)" />
            <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
        </FooterButtons>
    </ModalPopup>
}

<div class="columns is-centered">
    <div class="column">
        <CardComponent Title="User(s)" Icon="fa-users" RightTitle="@($"{ ReturnTable?.TotalRecords } record(s)")" IsCardLoading=IsCardLoading>
            <CardBody>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box">
                            <EditForm Model="@SearchFilters" OnValidSubmit="@Search_Click">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <InputText class="input" @bind-Value="SearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                    </div>
                                    <div class="control">
                                        <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                            <span class="fa fa-search" style="margin-right: 5px;"></span>
                                            <span>Search</span>
                                        </button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
                @if (ReturnTable?.Data.Count > 0)
                {
                    <div class="table-container">
                    <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(1)">
                                        <span>First Name</span>
                                        @if (SearchFilters.SortColumn == 1)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(2)">
                                        <span>Last Name</span>
                                        @if (SearchFilters.SortColumn == 2)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(3)">
                                        <span>Email</span>
                                        @if (SearchFilters.SortColumn == 3)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                                <th>
                                    <a @onclick="() => SortSwitch_Click(4)">
                                        <span>Approved</span>
                                        @if (SearchFilters.SortColumn == 4)
                                        {
                                            <span class="icon">
                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                            </span>
                                        }
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in ReturnTable.Data)
                            {
                                <tr>
                                    <td>
                                        <div class="buttons">
                                            <FormButton Title="Edit" Style="is-small" Icon="fa-edit" URL="@($"/useradmin/{line.FormID}")" />
                                            <FormButton Title="Delete" Style="is-small" Icon="fa-trash" OnClick="() => Delete_Toggle(line.FormID)" />
                                        </div>
                                    </td>
                                    <td>@line.FirstName</td>
                                    <td>@line.LastName</td>
                                    <td>@line.Email</td>
                                    <td>@line.Approved</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                    @if (ReturnTable.TotalRecords > SearchFilters.RecordSize)
                    {
                        <TablePager PageIndex="@SearchFilters.Page" PageSize="@SearchFilters.RecordSize" TotalRecordCount="@ReturnTable.TotalRecords" OnPageChanged="PageSwitch_Click" />
                    }
                }
            </CardBody>
        </CardComponent>
    </div>
</div>
