@page "/order/section2/{FormID:guid}"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.DropDowns
@using OrderTrak.Client.Shared.FormComponents
@using OrderTrak.Client.Shared.Order
@using OrderTrak.Client.Shared.SearchComponents
@inherits OrderTrakBasePage

<PageTitle>Order - OrderTrak</PageTitle>

@if (NewPart)
{
    <PartNumberSearch OnClose="AddPart_Toggle" OnClick="AddPart_Click" />
}

@if (DeleteID.HasValue)
{
    <ModalPopup Title="Confirm Delete" OnClose="() => Delete_Toggle(null)">
        <Content>
            <p class="subtitle">Are you sure you want to delete this order line?</p>
        </Content>
        <FooterButtons>
            <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="() => Delete_Toggle(null)" />
            <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
        </FooterButtons>
    </ModalPopup>
}


@if (LineUpdate != null)
{

    var partLine = PartList?.FirstOrDefault(x => x.FormID == LineUpdate.FormID);

    if (Order != null && partLine != null)
    {
        <ModalPopup Title="Edit Order Line" OnClose="() => LineEdit_Toggle(null)" Messages=Layout.Messages>
            <Content>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <EditForm Model="@LineUpdate" OnValidSubmit="LineEdit_Save">
                            <CardComponent Title="Order Line" Icon="fa-list">
                                <CardBody>
                                    <DataAnnotationsValidator />
                                    <FormField Icon="fa-cogs" Title="Part Number">
                                        <Content>
                                            <InputText class="input" Placeholder="Part Number" @bind-Value="partLine.PartNumber" disabled />
                                        </Content>
                                    </FormField>
                                    <FormField Icon="fa-align-left" Title="Part Description">
                                        <Content>
                                            <InputText class="input" Placeholder="Part Description" @bind-Value="partLine.PartDescription" disabled />
                                        </Content>
                                    </FormField>
                                    @if (partLine.IsStock)
                                    {
                                        <FormField Icon="fa-file-invoice" Title="Purchase Order">
                                            <Content>
                                                <PurchaseOrderDropDown PartID=@partLine.PartID
                                                ProjectID=@Order.ProjectID
                                                SelectedValue=@LineUpdate.Poid
                                                SelectedValueChanged="PO_Change" />
                                            </Content>
                                        </FormField>
                                        <FormField Icon="fa-warehouse" Title="Stock Group">
                                            <Content>
                                                <StockGroupDropDown SelectedValue="LineUpdate.StockGroupID" SelectedValueChanged="StockGroup_Change" />
                                            </Content>
                                        </FormField>
                                        <FormField Icon="fa-hashtag" Title="Serial Number">
                                            <Content>
                                                <InputText class="input is-primary" Placeholder="Serial Number" @bind-Value="LineUpdate.SerialNumber" />
                                            </Content>
                                        </FormField>
                                    }
                                    <FormField Icon="fa-cubes" Title="Quantity">
                                        <Content>
                                            <InputNumber class="input is-danger" Placeholder="Quantity" @bind-Value="LineUpdate.Quantity" />
                                        </Content>
                                    </FormField>
                                </CardBody>
                                <Footer>
                                    <FormButton Title="Save" Style="card-footer-item" Icon="fa-plus" />
                                </Footer>
                            </CardComponent>
                        </EditForm>
                    </div>
                </div>
            </Content>
        </ModalPopup>
    }
}


@if (Order != null)
{
    <div class="box">
        <OrderTabSwitcher Section=2 FormID=@FormID />
        <div class="columns is-centered">
            <div class="column">
                <CardComponent Title="Order Line(s)" Icon="fa-list" RightTitle="@($"{ FilteredPartList?.Count } record(s)")" IsCardLoading=IsCardLoading>
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="buttons is-pulled-right">
                                    @if (!Order.IsClosed)
                                    {
                                        <FormButton Title="Add" Style="is-success" Icon="fa-plus" OnClick="AddPart_Toggle" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="box">
                                    <EditForm Model="@SearchFilter" OnValidSubmit="@PartListSearch_Click">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <InputText class="input" @bind-Value="SearchFilter.SearchText" Placeholder="Search Filter (Comma Seperate Terms)" />
                                            </div>
                                            <div class="control">
                                                <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                    <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                    <span>Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                        @if (FilteredPartList?.Count > 0)
                        {
                            <div class="table-container">
                                <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(1)">
                                                    <span>Part</span>
                                                    @if (SortColumn == 1)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(2)">
                                                    <span>Description</span>
                                                    @if (SortColumn == 2)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(11)">
                                                    <span>Stock / Tangible</span>
                                                    @if (SortColumn == 11)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(3)">
                                                    <span>PO</span>
                                                    @if (SortColumn == 3)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(4)">
                                                    <span>StockGroup</span>
                                                    @if (SortColumn == 4)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(10)">
                                                    <span>Serial</span>
                                                    @if (SortColumn == 10)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(5)">
                                                    <span>Quantity</span>
                                                    @if (SortColumn == 5)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(6)">
                                                    <span>Picked</span>
                                                    @if (SortColumn == 6)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(7)">
                                                    <span>In Stock</span>
                                                    @if (SortColumn == 7)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(8)">
                                                    <span>Committed</span>
                                                    @if (SortColumn == 8)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                            <th>
                                                <a @onclick="() => SortSwitch_Click(9)">
                                                    <span>Available</span>
                                                    @if (SortColumn == 9)
                                                    {
                                                        <span class="icon">
                                                            <i class="fas @(SortOrder == 1 ? "fa-chevron-down" : "fa-chevron-up")"></i>
                                                        </span>
                                                    }
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in FilteredPartList)
                                        {
                                            <tr>
                                                <td>
                                                    @if (!Order.IsClosed)
                                                    {
                                                        <div class="buttons">
                                                            <FormButton Title="Edit" Style="is-small" Icon="fa-edit" OnClick="() => LineEdit_Toggle(line.FormID)" />
                                                            <FormButton Title="Delete" Style="is-small" Icon="fa-trash" OnClick="() => Delete_Toggle(line.FormID)" />
                                                        </div>
                                                    }
                                                </td>
                                                <td>@line.PartNumber</td>
                                                <td>@line.PartDescription</td>
                                                <td>@(line.IsStock ? "Stock" : "Tangible")</td>
                                                <td>@line.Po</td>
                                                <td>@line.StockGroup</td>
                                                <td>@line.SerialNumber</td>
                                                <td>@line.Quantity</td>
                                                <td>@line.PickedQuantity</td>
                                                <td>@line.InStockQuantity</td>
                                                <td>@line.CommittedQuantity</td>
                                                <td>@(line.InStockQuantity - line.CommittedQuantity)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </CardBody>
                    <Footer>
                        @if (!Order.IsClosed)
                        {
                            <FormButton Title="Add" Style="card-footer-item" Icon="fa-plus" OnClick="AddPart_Toggle" />
                        }
                    </Footer>
                </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="/order/search" />
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}

