@using OrderTrak.Client.Shared.FormComponents
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-link">
            <p class="modal-card-title has-text-white">Inventory Search</p>
            <button class="delete has-text-white" aria-label="close" @onclick="OnClose_Handler"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns is-centered">
                <div class="column">
                    <CardComponent Title="Search" Icon="fa-search" RightTitle="@($"{ ReturnTable?.TotalRecords } record(s)")" IsCardLoading=IsCardLoading>
                        <CardBody>
                            <div class="columns is-centered">
                                <div class="column is-half">
                                    <div class="box">
                                        <EditForm Model="@SearchFilters" OnValidSubmit="@Search_Click">
                                            <div class="field has-addons">
                                                <div class="control is-expanded">
                                                    <InputText class="input" @bind-Value="SearchFilters.SearchFilter" Placeholder="Search Filter (Comma Seperate Terms)" />
                                                </div>
                                                <div class="control">
                                                    <button class="button is-hoverable @(IsLoading ? "is-loading" : string.Empty)" type="submit">
                                                        <span class="fa fa-search" style="margin-right: 5px;"></span>
                                                        <span>Search</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                            @if (ReturnTable?.Data.Count > 0)
                            {
                                <div class="table-container">
                                    <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(1)">
                                                        <span>Box ID</span>
                                                        @if (SearchFilters.SortColumn == 1)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(3)">
                                                        <span>Part</span>
                                                        @if (SearchFilters.SortColumn == 3)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(5)">
                                                        <span>Location</span>
                                                        @if (SearchFilters.SortColumn == 5)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(6)">
                                                        <span>PO</span>
                                                        @if (SearchFilters.SortColumn == 6)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(7)">
                                                        <span>Stock Group</span>
                                                        @if (SearchFilters.SortColumn == 7)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(8)">
                                                        <span>Serial</span>
                                                        @if (SearchFilters.SortColumn == 8)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                                <th>
                                                    <a @onclick="() => SortSwitch_Click(9)">
                                                        <span>Quantity</span>
                                                        @if (SearchFilters.SortColumn == 9)
                                                        {
                                                            <span class="icon">
                                                                <i class="fas @(SearchFilters.SortOrder == 1 ? "fa-chevron-down" :"fa-chevron-up" )"></i>
                                                            </span>
                                                        }
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var line in ReturnTable.Data)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="buttons">
                                                            @if (!ReadOnly)
                                                            {
                                                                @if (ShowPickedOnly)
                                                                {
                                                                    <FormButton Title="Remove" Style="is-small" Icon="fa-trash" OnClick="() => OnClick_Handler(line.FormID)" />
                                                                }
                                                                else
                                                                {
                                                                    <FormButton Title="Select" Style="is-small" Icon="fa-mouse-pointer" OnClick="() => OnClick_Handler(line.FormID)" />
                                                                }
                                                            }
                                                        </div>
                                                    </td>
                                                    <td>@line.BoxID</td>
                                                    <td>@line.PartNumber</td>
                                                    <td>@line.Location</td>
                                                    <td>@line.Po</td>
                                                    <td>@line.StockGroup</td>
                                                    <td>@line.SerialNumber</td>
                                                    <td>@line.Quantity</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @if (ReturnTable.TotalRecords > SearchFilters.RecordSize)
                                {
                                    <TablePager PageIndex="@SearchFilters.Page" PageSize="@SearchFilters.RecordSize" TotalRecordCount="@ReturnTable.TotalRecords" OnPageChanged="PageSwitch_Click" />
                                }
                            }
                        </CardBody>
                    </CardComponent>
                </div>
            </div>
        </section>
    </div>
</div>

